<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang đổi mật khẩu</title>
    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Socket.io-->
    <script src="/socket.io/socket.io.js"></script>
    <!--JS-->
    <script src="/javascripts/main.js"></script>
    <!--GG font-->
    <script src="https://kit.fontawesome.com/ad26ff53c9.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="home" id="home">
         <div class="sidebar" data-chucvu="{{user.chucvu}}">
            <div class="item avt">
                <a href="/trangcanhan/{{user._id}}">
                    <div class="box-avt">
                        <img src="/images/{{user.avt}}" alt="AVT">
                    </div>
                </a>
            </div>
            <!---->
            <a href="/trangcanhan/{{user._id}}">
                <div class="item name">
                    <p><a href="/trangcanhan/{{user._id}}">{{user.name}}</a></p>
                </div>
            </a>
            <!---->

            <div class="box-item-slidebar">
                
                <a href="/">
                    <div class="itemlink linkhome">
                        <p><i class="fas fa-home"></i> Trang chủ</p>
                    </div>
                </a>
                <!---->
                <a href="/trangthongtincanhan">
                    <div class="itemlink linkinfo">
                        <p><i class="fas fa-pen"></i> Thông tin cá nhân</p>
                    </div>
                </a>
                <!---->
                <a href="">
                    <div class="itemlink linknotification">
                        <p><i class="fas fa-bell"></i> Thông báo</p>
                    </div>
                </a>
                <!---->
                <a href="">
                    <div class="itemlink linkuser">
                        <p><i class="fas fa-users"></i> Người dùng</p>
                    </div>
                </a>
                <!---->
                <a href="">
                    <div class="itemlink linkchangepassword
    ">
                        <p><i class="fas fa-key"></i> Đổi mật khẩu</p>
                    </div>
                </a>
                <!---->
                <a href="/logout">
                    <div class="itemlink linklogout">
                        <p><i class="fas fa-sign-out-alt"></i> Đăng xuất</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="root">
            <div class="hearder">
                <div class="btn-side">
                    <button id="btn-close-open-sidebar" onclick="openOrCloseSidebar('open')"><i class="fas fa-bars"></i></button>
                </div>
                <div class="avt-name">
                    <div class="avt">
                        <img src="/images/{{user.avt}}" alt="AVT">
                    </div>
                    <a href="/trangcanhan/{{user._id}}">{{user.name}}</a>
                </div>
            </div>
            <div class="timeline-notification">
                <div class="timeline">
                  	<div class="box-timeline dmk-timeline">
                  		<div class="item">
                  			<p class="title">Đổi mật khẩu</p>
                  		</div>
                  		<div class="item">
                  			<div class="a">
                  				<p>Mật khẩu cũ</p>
                  			</div>
                  			<div class="b">
                  				<input type="password" class="dmk-input-oldpass" placeholder="Mật khẩu cũ">
                  			</div>
                  		</div>
                  		<div class="item">
                  			<div class="a">
                  				<p>Mật khẩu mới</p>
                  			</div>
                  			<div class="b">
                  				<input type="password" class="dmk-input-newpass" placeholder="Mật khẩu mới">
                  			</div>
                  		</div>
                  		<div class="item">
                  			<div class="a">
                  				<p>Nhập lại mật khẩu</p>
                  			</div>
                  			<div class="b">
                  				<input type="password" class="dmk-input-newpass2" placeholder="Nhập lại mật khẩu">
                  			</div>
                  		</div>



                        <div class="item dmk-box-error">
                            {{!-- <p class="dmk-error">Vui long nhap day du thong tin</p>
                            <p class="dmk-success">Luu thong tin thanh cong</p> --}}
                        </div>


                  		<div class="item">
                  			<div class="box-botton">
                  				<button onclick="doiMatKhau()">Xác nhận</button>
                  			</div>
                  		</div>
                  	</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>