<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chi tiết thông báo</title>
     <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--Socket.io-->
    <script src="/socket.io/socket.io.js"></script>
    <!--JS-->
    <script src="/javascripts/main.js"></script>
    <!--GG font-->
    <script src="https://kit.fontawesome.com/ad26ff53c9.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--Modal-->
    <div class="tcttb-modal">
        <div class="box-tcttb-madal">
            <div class="tcttb-modal-create-user">
                <div class="header">
                    <div class="close"></div>
                    <div class="title">
                        <p>Thông báo</p>
                    </div>
                    <div class="close">
                        <button class="close-tcttb-modal"><i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="line"></div>
                <div class="content">
                        <div class="item item-edit-notification">
                            <p>Tiêu đề</p>
                        </div>
                        <div class="item item-edit-notification">
                            <input type="text" class="tcttb-input-title" value="{{thongbao.title}}" placeholder="Tiêu đề">
                        </div>
                        <div class="item item-edit-notification">
                            <p>Nội dung</p>
                        </div>
                        <div class="item item-edit-notification">
                            <textarea name="" id="" class="tcttb-input-content" rows="10">{{thongbao.content}}</textarea>
                        </div>
                        <div class="item tcttb-box-error">
                            {{!-- <p class="tcttb-error">Vui long nhap day du thong tin</p>
                            <p class="tcttb-success">Luu thong tin thanh cong</p> --}}
                        </div>
                        <div class="item item-edit-notification">
                            <div class="tcttb-box-button">
                                <button onclick="updateThongBao('{{thongbao._id}}')">Cập nhật thông báo</button>
                            </div>
                        </div>
                        <div class="item item-delete-notification">
                            <p>Thông báo sau khi xoá sẽ không thể phục hồi lại</p>
                        </div>
                        <div class="item item-delete-notification">
                            <div class="tcttb-box-button">
                                <button onclick="deleteThongBao('{{thongbao._id}}')">Xoá thông báo</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <!--//**************//-->


    <div class="home" id="home">
         <div class="sidebar" data-chucvu="{{user.chucvu}}">
            <div class="item avt">
                <a href="/trangcanhan/{{user._id}}">
                    <div class="box-avt">
                        <img src="/images/{{user.avt}}" alt="AVT">
                    </div>
                </a>
            </div>
            <!---->
            <a href="/trangcanhan/{{user._id}}">
                <div class="item name">
                    <p><a href="/trangcanhan/{{user._id}}">{{user.name}}</a></p>
                </div>
            </a>
            <!---->

            <div class="box-item-slidebar">
                
                <a href="/">
                    <div class="itemlink linkhome">
                        <p><i class="fas fa-home"></i> Trang chủ</p>
                    </div>
                </a>
                <!---->
                <a href="/trangthongtincanhan">
                    <div class="itemlink linkinfo">
                        <p><i class="fas fa-pen"></i> Thông tin cá nhân</p>
                    </div>
                </a>
                <!---->
                <a href="">
                    <div class="itemlink linknotification">
                        <p><i class="fas fa-bell"></i> Thông báo</p>
                    </div>
                </a>
                <!---->
                <a href="">
                    <div class="itemlink linkuser">
                        <p><i class="fas fa-users"></i> Người dùng</p>
                    </div>
                </a>
                <!---->
                <a href="">
                    <div class="itemlink linkchangepassword
    ">
                        <p><i class="fas fa-key"></i> Đổi mật khẩu</p>
                    </div>
                </a>
                <!---->
                <a href="/logout">
                    <div class="itemlink linklogout">
                        <p><i class="fas fa-sign-out-alt"></i> Đăng xuất</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="root">
             <div class="hearder">
                <div class="btn-side">
                    <button id="btn-close-open-sidebar" onclick="openOrCloseSidebar('open')"><i class="fas fa-bars"></i></button>
                </div>
                <div class="avt-name">
                    <div class="avt">
                        <img src="/images/{{user.avt}}" alt="AVT">
                    </div>
                    <a href="/trangcanhan/{{user._id}}">{{user.name}}</a>
                </div>
            </div>
            <div class="timeline-notification">
                <div class="ttb-timeline">
                    <div class="item">
                        <p class="title">Chi tiết thông báo</p>
                    </div>
                    
                    <div class="item">
                    	<p class="title-notification">{{thongbao.title}}</p>
                    	<p class="content-notification">{{thongbao.content}}</p>
                        {{#if xoasua}}
                            <p class="khoa-time"><span class="open-tcttb-modal">Sửa</span> - <span class="open-tcttb-modal-delete">Xoá</span> - [{{thongbao.namekhoa}}] - {{thongbao.time}}</p>
                        {{else}}
                            <p class="khoa-time">[{{thongbao.namekhoa}}] - {{thongbao.time}}</p>
                        {{/if}}
                       
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</body>

</html>